<!--
Exercice : Choix de services
http://slamwi.kobject.net/slam4/richclient/angularjs/td1
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>exo2</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="MainController.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body data-ng-app="app">
<fieldset class="fj" ng-controller="MainController as mainCtrl">
    <h1 style="color:#7575ff;">Services</h1>
    <fieldset>
        Choisissez les services voulus
        <br>
        {{mainCtrl.count()}} service(s) sélectionné(s)
    </fieldset>
    <br>
        <p ng-repeat="service in mainCtrl.services">
            <button class="bouton" ng-class="{'active' : service.active}" ng-click="mainCtrl.activer(service)" >
                {{service.name}} {{service.price}} €</button>
        </p>
    <hr>
    <div class="total" style="text-align : left;">
        Total : {{mainCtrl.countPrix()}} €
    </div>
    <div>
        Code promo :
        <input type="checkbox" ng-model="checked" ng-click="mainCtrl.chek(mainCtrl.codePromo)">
        <input type="text" data-ng-model="mainCtrl.codePromo">
    </div>
    <div class="check-element total" ng-show="checked" style="text-align : left;">
        Remise : {{mainCtrl.remisePrix()}}
        <br>
        Total avec remise : {{mainCtrl.totalPrix()}} €
    </div>
</fieldset>
</body>
</html>