<!DOCTYPE html>
    <html ng-app="sampleApp">
    <head>
        <meta charset="UTF-8">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-route.min.js"></script>
        <script src="app.js"></script>
        <script src="app/controllers.js"></script>
        <script src="app/routing.js"></script>
    <title>Title</title>
</head>
<body data-ng-controller="RouteController as rtCtrl1">
    <h1>Route1</h1>
    <div ng-bind="rtCtrl1.content1"></div>
</body>
</html>