<!--
Exercice 8 : Application Note
http://slamwi.kobject.net/slam4/richclient/angularjs/td1
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>exo1</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>
    <script src="MainController.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body data-ng-app="app">
    <div ng-controller="MainController as mainCtrl">
        <label>Note : </label><br>
        <textarea data-ng-model="mainCtrl.value" class="form-control" rows="4" cols="50" maxlength="100"></textarea>
        <br><br><br>
        <!--Votre message : <br>{{mainCtrl.value}}
        <br><br>-->
        <input type="submit" value="Effacer" data-ng-click="mainCtrl.clear()">
        <input type="submit" value="Sauvegarder" data-ng-click="mainCtrl.save()">
        <br><br>
        <div>
            <fieldset class="fi">
                Nombre de caractères restants : {{100-mainCtrl.count()}}
            </fieldset>
            <br>
            <fieldset ng-style="mainCtrl.show() === 'Message sauvegardé' && {'background-color':'rgba(213,255,204,0.7)','color':'#008b06','border':'1px solid #008b06'}  || mainCtrl.show() === 'Message modifié' && mainCtrl.count()<81 && {'background-color':'rgba(204,204,255,0.7)','color':'#00008B','border':'1px solid #00008B'}|| mainCtrl.show() === 'Message modifié' &&  mainCtrl.count()>80 && {'background-color':'rgba(255,204,204,0.7)','color':'#8b0900','border':'1px solid #8b0900'}" style="background-color:white;color:white;border:1px solid white;">
                {{mainCtrl.show()}}
            </fieldset>
        </div>


    </div>
</body>
</html>