<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>TD2 - Exo 2</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="MainController.js"></script>
</head>
<body data-ng-app="app">
<fieldset ng-controller="MainController as mainCtrl">
    <h3 style="border:1px solid black">Contacts</h3>
    <input type="text" placeholder="Filtrer..." ng-model="searchText">
    <br><br>
    <table>
        <tr ng-repeat="contact in mainCtrl.contacts | filter:searchText as data">
            <td ng-show="!contact.suppr"> {{contact.nom}} </td>
            <td ng-show="!contact.suppr"> {{contact.prenom}} </td>
            <td ng-show="!contact.suppr"> {{contact.mail}} </td>
            <td ng-show="!contact.suppr"> <button data-ng-click="mainCtrl.modifbout()" style="border: none;background-color: rgba(0,0,0,0);"><img src="modif.png"/></button> </td>
            <td ng-show="!contact.suppr"> <button style="border: none;background-color: rgba(0,0,0,0);"><img src="suprr.png"/></button> </td>
        </tr>
    </table>
    <br>
    <input type="button" data-ng-click="mainCtrl.ajoutbout()" value="Ajouter..."></input>

    <!-- Ajout -->
    <div ng-show="mainCtrl.ajoutDiv()">
        <br><br>
        <h3>Ajouter un contact</h3>
        <input type="text" placeholder="Entrer un nom..."><br>
        <input type="text" placeholder="Prénom..."><br>
        <input type="text" placeholder="Adresse mail..."><br>
        <button>Valider</button><button data-ng-click="mainCtrl.annulebout()">Annuler</button>
    </div>

    <!-- Modification -->
    <div ng-show="mainCtrl.modifDiv()">
        <br><br>
        <h3>Modifier un contact</h3>
        <input type="text" placeholder="Entrer un nom..."><br>
        <input type="text" placeholder="Prénom..."><br>
        <input type="text" placeholder="Adresse mail..."><br>
        <button>Valider</button><button data-ng-click="mainCtrl.annulebout()">Annuler</button>
    </div>

    <br><br>
    <label>{{(data|filter:searchText).length}} contacts trouvés</label>
</fieldset>
</body>
</html>